@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

body {
    max-height: 100%;
    padding: 0 0;
    margin: 0 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.wrapper {
    position: relative;
}

.landing {
    height: 89vh;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    background-image: url("assets/topBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -27rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);

}

.top-overlay {
    height: 50%;
    width: 50%;
    background-color: rgba(181, 107, 57, 0.5);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-overlay>img {
    width: 40%;
    -webkit-filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.3));
}

.top-info {
    height: 170vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    margin-top: 5%;
}

.top-box>img {
    transition-duration: 0.2s;
    width: 60%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.box-content {
    position: absolute;
    width: 20%;
    z-index: -1;
}

.box-hr {
    border-top: rgb(255, 124, 0) solid 5px;
    width: 50%;
}

.image-left>.box-content {
    margin-right: -40%;
}

.image-left>img {
    margin-left: -60%;
}

.image-right>.box-content {
    margin-right: 40%;
}

.image-right>img {
    margin-left: 60%;
}

.top-box>img:hover {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
}

.middle-description {
    margin-top: -2.5%;
    height: 170vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  rgb(255, 124, 0);
}